{% extends "base.html" %}
{% block title %}Categories {% endblock %}
{% block body %}
        <button onclick="location.href='addcategory'">Add Category</button>
        {% if category %}
        <table border="1" cellpadding="10px">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Parent</th>
                <th>createdAt</th>
                <th>Action</th>
            </tr>
            <div class="container">
            {% for c in category %}
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.categoryName}}</td>
                <td>{{c.parent}}</td>
                <td>{{c.createdAt}}</td>
                <td>
                    <a href="/admin/editc?id={{c.id}}">Edit</a>
                    <a href="/admin/deletec?id={{c.id}}">Delete</a>
                </td>
            </tr>
            
            {%endfor%}
         </table> 
        
        {% else %}
    <p>No categories yet!</p>
    {% endif %}  
    {%endblock%}