{% extends "base.html" %}
{% block title %}CMS Pages {% endblock %}
{% block body %}
        <button onclick="location.href='addcms'">Add CMS Page</button>
        {% if cms %}
        <table border="1" cellpadding="10px">
            <tr>
                <th>Id</th>
                <th>Page Title</th>
                <th>URL Key</th>
                <th>Status</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
            {% for c in cms %}
            
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.pageTitle}}</td>
                <td>{{c.urlKey}}</td>
                <td>{{c.status}}</td>
                <td>{{c.content}}</td>
                <td>
                    <a href="/admin/editcms?id={{c.id}}">Edit</a>
                    <a href="/admin/deletecms?id={{c.id}}">Delete</a>
                </td>
            </tr>
            {%endfor%}
        </table>
        {% else %}
    <p>No products yet!</p>
    
    {% endif %}  
    {%endblock%}