<html>
  <head>
    <title> </title>
    <link rel="stylesheet" href="\style.css" />
  </head>
  <body>
    <div class="header">
        {% block header %} <div class="logo"><button onclick="location.href='/home/index'">My Cart</button></div>{% for h in header %}
        <div class="dropdown">
          <button class="dropbtn">{{h.parent}}</button>
          <div class="dropdown-content">
            {% for c in categories%} {% if c.parent == h.parent %}
            <a href="showproduct?category={{c.categoryName}}"
              >{{c.categoryName}}</a>
            {% endif %} {%endfor%}
          </div>
        </div>
        {% endfor %} {% endblock %}
        <div class="logout"><button onclick="location.href='/user/logout'">Log out</button></div>
      </div>
      </div> {% block body %}
  
      {%for p in products%}
      <div class="product">
            <h2>{{p.productName}}</h2>
      
      <img src="/{{p.image}}" height="150px" width="150px" />
      <br />
      Description : {{p.description}}
      <br />
      Price : {{p.price}}
      <br />
      Quantity : {{p.stock}}
       {%endfor%}
       
      </div>
      
      
    {% endblock %}
    <div class="footer">
      {% block footer %} {% for f in footer %}
      <a href="/{{f.urlKey}}">{{f.pageTitle}}</a>
      {% endfor %} {% endblock %}
    </div>
  </body>
</html>