{% extends "base.html" %} {% block title %}Products {% endblock %} {% block body
%}
<button onclick="location.href='addproduct'">Add Product</button>
{% if products %}
<table border="1" cellpadding="10px">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>SKU</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  {% for p in products %}
  <tr>
    <td>{{p.id}}</td>
    <td>{{p.productName}}</td>
    <td>{{p.SKU}}</td>
    <td>{{p.price}}</td>
    <td>
      <a href="/admin/editp?id={{p.id}}">Edit</a>
      <a href="/admin/deletep?id={{p.id}}">Delete</a>
    </td>
  </tr>
  {%endfor%}
</table>

{% else %}
<p>No products yet!</p>

{% endif %} {%endblock%}
