<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <form method="POST" action="\user\registeruser">
            <table cellpadding="10px" align="center">
                <tr>
                    <td>Name : </td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" name="register" value="register"></td>
                </tr>
            </table>
        </form>
    </body>
</html>