<html>
  <head>
    <title>Products </title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/script.js"></script>
  
  </head>
  <body>
    <div class="header">
      {% block header %} 
      <div class="logo"><button onclick="location.href='/home/index'">My Cart</button></div>
      {% for h in header %}
      <div class="dropdown">
        <button class="dropbtn">{{h.parent}}</button>
        <div class="dropdown-content">
          {% for c in categories%} {% if c.parent == h.parent %}
          <a href="showproduct?category={{c.categoryName}}">{{c.categoryName}}</a>
          {% endif %} {%endfor%}
        </div>
      </div>
      {% endfor %} {% endblock %}
      <div class="logout"><button onclick="location.href='/user/logout'">Log out</button></div>
      </div>
    </div>
     {% block body %}
     <div class="cart">
      <p>cart items : </p>
      <button onclick="location.href='/cart/deletecart'" class="emptyCart">Empty Cart</button>
      <div class="cart-items">
        <table id="cart" border="1">
         
        </table>        
      </div>
     </div>
    <div class="container">
      
      {%for p in products%}
      {% if p.status == 'available' %}
      <div class="child">
        <img src="/{{p.image}}" height="150px" width="150px" />
        <a href="\show\product?product={{p.productName}}">{{p.productName}}</a>
        
          <input type="button" class="addtocart" name="addtocart" id="{{p.id}}" onclick="getId()" value="Add to cart">
         
      </div>
      {% else %}
      <div class="child">
      {{p.productName}}
      <p>Product not available</p>
      </div>
      {% endif %}
      {%endfor%}
    </div>
   
    {% endblock %}
    <div class="footer">
      {% block footer %} {% for f in footer %}
      <a href="/{{f.urlKey}}">{{f.pageTitle}}</a>
      {% endfor %} {% endblock %}
    </div>
  </body>
</html>