<html>
  <head>
    <title> </title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="header">
      {% block header %} {% for h in header %}
      <div class="dropdown">
        <button class="dropbtn">{{h.parent}}</button>
        <div class="dropdown-content">
          {% for c in categories%} {% if c.parent == h.parent %}
          <a href="showproduct?category={{c.categoryName}}">{{c.categoryName}}</a>
          {% endif %} {%endfor%}
        </div>
      </div>
      {% endfor %} {% endblock %}
    </div>
     {% block body %}
    <div class="container">
      {%for p in products%}
      <div class="child">
        <img src="/{{p.image}}" height="100px" width="100px" />
        <a href="\show\product?product={{p.productName}}">{{p.productName}}</a>
      </div>
      {%endfor%}
    </div>
    {% endblock %}
    <div class="footer">
      {% block footer %} {% for f in footer %}
      <a href="/{{f.urlKey}}">{{f.pageTitle}}</a>
      {% endfor %} {% endblock %}
    </div>
  </body>
</html>
