<html>
    <head>
        <title>Service Registration</title>
    </head>
    <body>
        <p id="error">
            {{error}}
        </p>
        <form method="POST" action="/admin/edituser">
            {% for r in result %}
            <table>
                <tr>
                    <td>Title: </td>
                    <td><input type="text" name="service[title]" value="{{r.title}}"></td>
                </tr>
                <tr>
                    <td>Vehicle Number: </td>
                    <td><input type="text" name="service[vehicleNo]" value="{{r.vehicleNo}}"></td>
                </tr>
                <tr>
                    <td>License Number: </td>
                    <td><input type="text" name="service[licenseNo]" value="{{r.licenseNo}}"></td>
                </tr>
                <tr>
                    <td>Date: </td>
                    <td><input type="date" name="service[date]" value="{{r.date}}"></td>
                </tr>
                <tr>
                    <td>Timeslot: </td>
                    <td>
                        <select name="service[timeslot]">
                            <option value="9-10" {% if r.timeslot == '9-10'%}selected{% endif %}>9-10</option>
                            <option value="10-11" {% if r.timeslot == '9-10'%}selected {% endif %}>10-11</option>
                            <option value="11-12" {% if r.timeslot == '11-12'%}selected {% endif %}>11-12</option>
                            <option value="12-1" {% if r.timeslot == '12-1'%}selected {% endif %}>12-1</option>
                            <option value="1-2" {% if r.timeslot == '1-2'%}selected {% endif %}>1-2</option>
                            <option value="2-3" {% if r.timeslot == '2-3'%}selected {% endif %}>2-3</option>
                            <option value="3-4" {% if r.timeslot == '3-4'%}selected {% endif %}>3-4</option>
                            <option value="4-5" {% if r.timeslot == '4-5'%}selected {% endif %}>4-5</option>
                            <option value="5-6" {% if r.timeslot == '5-6'%}selected {% endif %}>5-6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Issue: </td>
                    <td><input type="text" name="service[issue]" value="{{r.issue}}"></td>
                </tr>
                <tr>
                    <td>Service Center: </td>
                    <td>
                        <select name="service[servicecenter]">
                            <option value="maruti" {% if r.servicecenter == 'maruti'%}selected{%endif%}>Maruti</option>
                            <option value="toyota"  {% if r.servicecenter == 'toyota'%}selected{%endif%}>Toyota</option>
                            <option value="honda"  {% if r.servicecenter == 'honda'%}selected{%endif%}>Honda</option>
                            <option value="mahindra"  {% if r.servicecenter == 'mahindra'%}selected{%endif%}>Mahindra</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="addService" value="Edit Service">
                    </td>
                </tr>
            </table>
            {% endfor %}
        </form>
    </body>
</html>